# This is Git's per-user configuration file.
[user]
    name = 
    email = 
    username = 

[color]
    status = auto
    branch = auto
    log = auto
    commit = auto
    diff = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow
    local = green
    remote = cyan

[color "diff"]
    meta = yellow
    frag = cyan
    old = red
    new = green 

[color "status"]
    changed = yellow

[apply]
    whitespace = nowarn

[alias]
    co = checkout
    st = status
    df = diff
    dc = diff --cached
    pr = pull --rebase
    pop = stash pop
    lg = log --graph --pretty=format:'%C(yellow)%h %Cblue%aN %Cgreen%ar %Creset%s'
    ls = log --stat
    changes = "!f() { git log --pretty=format:'* %s' $1..$2; }; f"
    details = log -n1 -p --format=fuller
    cim = commit -m
    all = add . --all
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort

[http]
    sslVerify = false

[credential]
    helper = cache --timeout=864000
    helper = store --file ~/.my-credentials

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    compression = 9
    filemode = false

[diff]
    mnemonicprefix = true

[merge]
    log = true
    ff = false

[push]
    default = simple
